/.idea/
/services/pc-creator/mvnw.cmd
/services/pc-creator/mvnw
/services/pc-creator/.gitignore
/services/pc-creator/.gitattributes
/services/pc-creator/.mvn/
/services/pc-creator/.idea/
/services/pc-parser-service/mvnw.cmd
/services/pc-parser-service/mvnw
/services/pc-parser-service/HELP.md
/services/pc-parser-service/.gitignore
/services/pc-parser-service/.gitattributes
/services/pc-parser-service/.mvn/
/services/pc-parser-service/.idea/
/services/parser/mvnw.cmd
/services/parser/mvnw
/services/parser/.gitattributes
/services/parser/target/
/services/parser/.idea/
/services/parser/.mvn/
/services/notificator/mvnw.cmd
/services/notificator/mvnw
/services/notificator/.gitattributes
/services/notificator/.mvn/
/services/notificator/.idea/
/services/notificator/src/main/resources/information.txt
