/.idea/
/services/pcConfig-creator/mvnw.cmd
/services/pcConfig-creator/mvnw
/services/pcConfig-creator/.gitignore
/services/pcConfig-creator/.gitattributes
/services/pcConfig-creator/.mvn/
/services/pcConfig-creator/.idea/
/services/pcConfig-parser-service/mvnw.cmd
/services/pcConfig-parser-service/mvnw
/services/pcConfig-parser-service/HELP.md
/services/pcConfig-parser-service/.gitignore
/services/pcConfig-parser-service/.gitattributes
/services/pcConfig-parser-service/.mvn/
/services/pcConfig-parser-service/.idea/
/services/parser/mvnw.cmd
/services/parser/mvnw
/services/parser/.gitattributes
/services/parser/target/
/services/parser/.idea/
/services/parser/.mvn/
/services/notificator/mvnw.cmd
/services/notificator/mvnw
/services/notificator/.gitattributes
/services/notificator/.mvn/
/services/notificator/.idea/
/services/notificator/src/main/resources/information.txt
/services/stock-service/mvnw.cmd
/services/stock-service/mvnw
/services/stock-service/.gitattributes
/services/stock-service/.mvn/
/services/stock-service/.idea/
/services/product/mvnw.cmd
/services/product/mvnw
/services/product/HELP.md
/services/product/.gitattributes
/services/product/.mvn/
/services/product/.idea/
/services/stock/mvnw.cmd
/services/stock/mvnw
/services/stock/HELP.md
/services/stock/.gitattributes
/services/stock/.mvn/
/services/stock/.idea/
/services/customer/mvnw.cmd
/services/customer/mvnw
/services/customer/.gitattributes
/services/customer/.mvn/
/services/customer/target/
/services/customer/.idea/
/services/order/mvnw.cmd
/services/order/mvnw
/services/order/.gitattributes
/services/order/.mvn/
/services/order/.idea/
/services/payment/mvnw.cmd
/services/payment/mvnw
/services/payment/.gitattributes
/services/payment/target/
/services/payment/.mvn/
/services/payment/.idea/
/frontend/info/
/frontend/src/pages/product/aducation/
/frontend/src/html-css-js-work/
/services/test-service/
/services/gateway/mvnw.cmd
/services/gateway/mvnw
/services/gateway/.gitattributes
/services/gateway/.mvn/
